<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC
		   "-//mybatis.org//DTD Mapper 3.0//EN" 
		   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="user_mapper">
	<insert id="saveUser" parameterType="User">
		INSERT INTO LQ_USER (
		user_id,
		user_login_id,
		name,
		email,
		password,
		nickname,
		birth,
		gender,
		role,
		exp,
		point,
		status,
		created_at
		) VALUES (
		SEQ_LQ_USER_PK.nextval,
		#{userLoginId},
		#{name},
		#{email},
		#{password},
		#{nickname},
		#{birth},
		#{gender},
		#{role},
		#{exp},
		#{point},
		#{status},
		sysdate )
	</insert>

	<select id="countByUserLoginId" parameterType="string" resultType="int">
		SELECT COUNT(1)
		FROM LQ_USER
		WHERE user_login_id = #{value}
	</select>

	<select id="countByNickname" parameterType="string" resultType="int">
		SELECT COUNT(1)
		FROM LQ_USER
		WHERE nickname = #{value}
	</select>

	<select id="countByEmail" parameterType="string" resultType="int">
		SELECT COUNT(1)
		FROM LQ_USER
		WHERE email = #{value}
	</select>

	<select id="findByUserLoginId" parameterType="string" resultType="User">
		SELECT
			user_id,
			user_login_id,
			name,
			email,
			password,
			nickname,
			birth,
			gender,
			role,
			exp,
			point,
			status
		FROM LQ_USER
		WHERE user_login_id = #{value}
	</select>
</mapper>
