<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC
		   "-//mybatis.org//DTD Mapper 3.0//EN" 
		   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="user_mapper">
	<insert id="saveUser" parameterType="User">
		INSERT INTO LQ_USER (
		user_id,
		user_login_id,
		name,
		email,
		password,
		nickname,
		birth,
		gender,
		role,
		exp,
		point,
		status,
		created_at
		) VALUES (
		SEQ_LQ_USER_PK.nextval,
		#{userLoginId},
		#{name},
		#{email},
		#{password},
		#{nickname},
		#{birth},
		#{gender},
		#{role},
		#{exp},
		#{point},
		#{status},
		sysdate )
	</insert>
</mapper>