<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC
		   "-//mybatis.org//DTD Mapper 3.0//EN" 
		   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="user_mapper">

	<!-- 관리자_회원정보 조회 -->
	<select id="selectAllUsers" resultType="UserDTO">
		SELECT
		USER_ID as userId,
		USER_LOGIN_ID as userLoginId,
		NAME,
		EMAIL,
		NICKNAME,
		ROLE,
		EXP,
		POINT,
		STATUS,
		CREATED_AT as createdAt
		FROM LQ_USER
		ORDER BY CREATED_AT DESC
	</select>

	<!-- 관리자_회원정보 검색 -->
	<select id="searchUser" parameterType="map"
		resultType="UserDTO">
		SELECT
		USER_ID as userId,
		USER_LOGIN_ID as userLoginId,
		NAME,
		EMAIL,
		NICKNAME,
		ROLE,
		EXP,
		POINT,
		STATUS,
		CREATED_AT as createdAt
		FROM LQ_USER
		<where>
			<choose>
				<when test="searchType == 'loginId'">
					AND USER_LOGIN_ID = #{keyword}
				</when>
				<when test="searchType == 'nickname'">
					AND NICKNAME LIKE '%' || #{keyword} || '%'
				</when>
				<when test="searchType == 'userId'">
					AND USER_ID = #{keyword}
				</when>
			</choose>
		</where>
	</select>

	<!-- 관리자_회원정보 변경(User_Type 변경) -->
	<update id="updateUserRole" parameterType="map">
		UPDATE LQ_USER
		SET
		ROLE
		= #{newRole}
		WHERE USER_ID = #{userId}
	</update>

	<!-- 관리자_회원정보 상태 변경(회원정보_정지) -->
	<update id="updateUserStatus" parameterType="map">
		UPDATE LQ_USER
		SET
		STATUS = #{newStatus}
		WHERE USER_ID = #{userId}
	</update>

</mapper>