<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC
		   "-//mybatis.org//DTD Mapper 3.0//EN" 
		   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="rewarditem_mapper">
	<insert id="saveRewardItem" parameterType="RewardItemDTO">
		INSERT INTO LQ_REWARD_ITEM (
		reward_item_id,
		name,
		description,
		price_point,
		stock,
		status,
		created_at
		) VALUES (
		SEQ_LQ_REWARD_ITEM_PK.nextval,
		#{name},
		#{description},
		#{pricePoint},
		#{stock},
		#{status},
		sysdate )
	</insert>
</mapper>
