<?xml version="1.0" encoding="UTF-8"?>						
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"						
					"http://mybatis.org/dtd/mybatis-3-config.dtd">


<configuration>

	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" />
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>

	<typeAliases>
		<typeAlias type="com.app.dto.rank.Rank" alias="Rank" />
		<typeAlias type="com.app.dto.user.User" alias="User"/>
		<typeAlias type="com.app.dto.reward.RewardBoxSummary" alias="RewardBoxSummary"/>
		<typeAlias type="com.app.dto.reward.RewardRoadmapItem" alias="RewardRoadmapItem"/>
		<typeAlias type="com.app.dto.reward.RewardWalletCoupon" alias="RewardWalletCoupon"/>
	</typeAliases>

</configuration>
