<?xml version="1.0" encoding="UTF-8"?>						
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"						
					"http://mybatis.org/dtd/mybatis-3-config.dtd">
					

<configuration>

	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="com.app.dto.badge.BadgeDTO" alias="BadgeDTO"/>
		<typeAlias type="com.app.dto.business.BusinessDTO" alias="BusinessDTO"/>
		<typeAlias type="com.app.dto.businessinquiry.BusinessInquiryDTO" alias="BusinessInquiryDTO"/>
		<typeAlias type="com.app.dto.faq.FAQDTO" alias="FAQDTO"/>
		<typeAlias type="com.app.dto.graderange.GradeRangeDTO" alias="GradeRangeDTO"/>
		<typeAlias type="com.app.dto.inquiry.InquiryDTO" alias="InquiryDTO"/>
		<typeAlias type="com.app.dto.levelrange.LevelRangeDTO" alias="LevelRangeDTO"/>
		<typeAlias type="com.app.dto.location.LocationDTO" alias="LocationDTO"/>
		<typeAlias type="com.app.dto.notice.NoticeDTO" alias="NoticeDTO"/>
		<typeAlias type="com.app.dto.pointhistory.PointHistoryDTO" alias="PointHistoryDTO"/>
		<typeAlias type="com.app.dto.quest.QuestDTO" alias="QuestDTO"/>
		<typeAlias type="com.app.dto.questlocation.QuestLocationDTO" alias="QuestLocationDTO"/>
		<typeAlias type="com.app.dto.questreview.QuestReviewDTO" alias="QuestReviewDTO"/>
		<typeAlias type="com.app.dto.rewardexchange.RewardExchangeDTO" alias="RewardExchangeDTO"/>
		<typeAlias type="com.app.dto.rewarditem.RewardItemDTO" alias="RewardItemDTO"/>
		<typeAlias type="com.app.dto.user.User" alias="User"/>
		<typeAlias type="com.app.dto.userbadge.UserBadgeDTO" alias="UserBadgeDTO"/>
		<typeAlias type="com.app.dto.userquest.UserQuestDTO" alias="UserQuestDTO"/>
		<typeAlias type="com.app.dto.userquestprogress.UserQuestProgressDTO" alias="UserQuestProgressDTO"/>
		<typeAlias type="com.app.dto.userrank.UserRankDTO" alias="UserRankDTO"/>
	</typeAliases>
	
</configuration>
