.app-shell {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.app-content {
  flex: 1;
  min-height: 80vh;
  padding-top: 126px;
}

@media (max-width: 768px) {
  .app-content {
    padding-top: 118px;
  }
}

@media (max-width: 480px) {
  .app-content {
    padding-top: 106px;
  }
}
